[submodule "addons/sar1_graphics_manager"]
	path = addons/sar1_graphics_manager
	url = https://github.com/V-Sekai/sar1_graphics_manager
	branch = godot4
[submodule "addons/sar1_mocap_manager"]
	path = addons/sar1_mocap_manager
	url = https://github.com/V-Sekai/sar1_mocap_manager
	branch = godot4
[submodule "addons/sar1_screenshot_manager"]
	path = addons/sar1_screenshot_manager
	url = https://github.com/V-Sekai/sar1_screenshot_manager
	branch = godot4
[submodule "addons/sar1_vr_manager"]
	path = addons/sar1_vr_manager
	url = https://github.com/V-Sekai/sar1_vr_manager
	branch = godot4
[submodule "addons/vsk_avatar"]
	path = addons/vsk_avatar
	url = https://github.com/V-Sekai/vsk_avatar
	branch = godot4
[submodule "addons/vsk_editor"]
	path = addons/vsk_editor
	url = https://github.com/V-Sekai/vsk_editor
	branch = godot4
[submodule "addons/vsk_map"]
	path = addons/vsk_map
	url = https://github.com/V-Sekai/vsk_map
	branch = godot4
[submodule "addons/unidot_importer"]
	path = addons/unidot_importer
	url = https://github.com/V-Sekai/unidot_importer