[submodule "addons/actor"]
	path = addons/actor
	url = https://github.com/V-Sekai/actor
	branch = godot4
[submodule "addons/canvas_plane"]
	path = addons/canvas_plane
	url = https://github.com/V-Sekai/canvas_plane
	branch = godot4
[submodule "addons/emote_theme"]
	path = addons/emote_theme
	url = https://github.com/V-Sekai/emote_theme
	branch = godot4
[submodule "addons/entity_manager"]
	path = addons/entity_manager
	url = https://github.com/V-Sekai/entity_manager
	branch = godot4
[submodule "addons/extended_kinematic_body"]
	path = addons/extended_kinematic_body
	url = https://github.com/V-Sekai/extended_kinematic_body
	branch = godot4
[submodule "addons/gd_util"]
	path = addons/gd_util
	url = https://github.com/V-Sekai/gd_util
	branch = godot4
[submodule "addons/godot_uro"]
	path = addons/godot_uro
	url = https://github.com/V-Sekai/godot_uro
	branch = godot4
[submodule "addons/input_manager"]
	path = addons/input_manager
	url = https://github.com/V-Sekai/input_manager
	branch = godot4
[submodule "addons/line_renderer"]
	path = addons/line_renderer
	url = https://github.com/V-Sekai/line_renderer
	branch = godot4
[submodule "addons/math_util"]
	path = addons/math_util
	url = https://github.com/V-Sekai/math_util
	branch = godot4
[submodule "addons/network_manager"]
	path = addons/network_manager
	url = https://github.com/V-Sekai/network_manager
	branch = godot4
[submodule "addons/sar1_graphics_manager"]
	path = addons/sar1_graphics_manager
	url = https://github.com/V-Sekai/sar1_graphics_manager
	branch = godot4
[submodule "addons/sar1_log_manager"]
	path = addons/sar1_log_manager
	url = https://github.com/V-Sekai/sar1_log_manager
	branch = godot4
[submodule "addons/sar1_mocap_manager"]
	path = addons/sar1_mocap_manager
	url = https://github.com/V-Sekai/sar1_mocap_manager
	branch = godot4
[submodule "addons/sar1_screenshot_manager"]
	path = addons/sar1_screenshot_manager
	url = https://github.com/V-Sekai/sar1_screenshot_manager
	branch = godot4
[submodule "addons/sar1_vr_manager"]
	path = addons/sar1_vr_manager
	url = https://github.com/V-Sekai/sar1_vr_manager
	branch = godot4
[submodule "addons/unidot_importer"]
	path = addons/unidot_importer
	url = https://github.com/V-Sekai/unidot_importer
[submodule "addons/vsk_avatar"]
	path = addons/vsk_avatar
	url = https://github.com/V-Sekai/vsk_avatar
	branch = godot4
[submodule "addons/vsk_editor"]
	path = addons/vsk_editor
	url = https://github.com/V-Sekai/vsk_editor
	branch = godot4
[submodule "addons/vsk_entities"]
	path = addons/vsk_entities
	url = https://github.com/V-Sekai/vsk_entities
	branch = godot4
[submodule "addons/vsk_importer_exporter"]
	path = addons/vsk_importer_exporter
	url = https://github.com/V-Sekai/vsk_importer_exporter
	branch = godot4
[submodule "addons/vsk_map"]
	path = addons/vsk_map
	url = https://github.com/V-Sekai/vsk_map
	branch = godot4
[submodule "addons/vsk_vrm_avatar_tool"]
	path = addons/vsk_vrm_avatar_tool
	url = https://github.com/V-Sekai/vsk_vrm_avatar_tool
	branch = godot4
[submodule "addons/Godot-MToon-Shader"]
	path = addons/Godot-MToon-Shader
	url = https://github.com/V-Sekai/Godot-MToon-Shader
[submodule "addons/vrm"]
	path = addons/vrm
	url = https://github.com/V-Sekai/godot-vrm
	branch = only-addon
[submodule "addons/splerger"]
	path = addons/splerger
	url = https://github.com/V-Sekai/godot-splerger.git
	branch = main
[submodule "addons/xr_vignette"]
	path = addons/xr_vignette
	url = https://github.com/V-Sekai/godot_xr_vignette