[submodule "addons/vsk_avatar"]
	path = addons/vsk_avatar
	url = https://github.com/V-Sekai/vsk_avatar
	branch = godot4
[submodule "addons/vsk_editor"]
	path = addons/vsk_editor
	url = https://github.com/V-Sekai/vsk_editor
	branch = godot4