# MIT License

# Copyright (c) 2022 K. S. Ernest (iFire) Lee

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

name: "Build V-Sekai Game"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  REPO_NAME: ${{ github.event.repository.name }}
  CACHE_NAME: ${{github.job}}
  VSEKAI_BASE_BRANCH: main
  GODOT_MODULES_BRANCH: main
  GODOT_BRANCH: groups-4.x

concurrency:
  group: ci-macos-${{github.actor}}-${{github.head_ref || github.run_number}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  build-macos:
    runs-on: macos-12
    steps:
      - name: Install VulkanSDK
        run: |
          IFS=$'\n\t'
          # Download and install the Vulkan SDK.
          curl -L "https://sdk.lunarg.com/sdk/download/latest/mac/vulkan-sdk.dmg" -o /tmp/vulkan-sdk.dmg
          hdiutil attach /tmp/vulkan-sdk.dmg -mountpoint /Volumes/vulkan-sdk
          /Volumes/vulkan-sdk/InstallVulkan.app/Contents/MacOS/InstallVulkan \
              --accept-licenses --default-answer --confirm-command install
          hdiutil detach /Volumes/vulkan-sdk
          rm -f /tmp/vulkan-sdk.dmg

      - uses: actions/checkout@v3
        with:
          path: "godot"
          repository: "v-sekai/godot"
          ref: ${{env.GODOT_BRANCH}}

      - uses: actions/checkout@v3
        with:
          path: "godot-modules-groups"
          repository: "v-sekai/godot-modules-groups"
          ref: ${{env.GODOT_MODULES_BRANCH}}
          submodules: recursive

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "project"
          submodules: recursive

      - name: Load .cicd_cache directory
        uses: actions/cache@v3
        with:
          path: godot/.cicd_cache
          key: ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}

      - run: brew install scons

      - name: Run build
        run: |
          cd godot
          SCONS_CACHE=.cicd_cache scons optimize=speed werror=no platform=macos target=editor use_lto=no deprecated=no builtin_freetype=yes custom_modules=../godot-modules-groups
          cp -r misc/dist/macos_tools.app ./vsekai_macos_release_x86_64.app
          mkdir -p vsekai_macos_release_x86_64.app/Contents/MacOS
          cp bin/godot.macos.editor.x86_64  vsekai_macos_release_x86_64.app/Contents/MacOS/Godot
          chmod +x vsekai_macos_release_x86_64.app/Contents/MacOS/Godot

      # mkdir -p build/
      # rm -rf .local/share/godot/export_templates/
      # mkdir -p .local/share/godot/export_templates/
      # cd .local/share/godot/export_templates/
      # eval `sed -e "s/ = /=/" godot/version.py` && echo $major.$minor.$status > build/version.txt
      # export VERSION=`cat build/version.txt`
      # export BASE_DIR=.local/share/godot/export_templates/
      # export TEMPLATEDIR=$BASE_DIR/$VERSION/
      # mkdir -p $TEMPLATEDIR
      # cp godot/bin/macos_release_x86_64 $TEMPLATEDIR/macos_release_x86_64
      # cp godot/bin/macos_debug_x86_64 $TEMPLATEDIR/macos_debug_x86_64
      # cp build/version.txt $TEMPLATEDIR/version.txt
      # if [[ -z "${REPO_NAME}" ]]; then
      #   export GODOT_ENGINE_GAME_NAME="game_"
      # fi
      # (echo \"## AUTOGENERATED BY BUILD\"; echo \"\"; echo \"const BUILD_LABEL = \\\"$GO_PIPELINE_LABEL\\\"\"; echo \"const BUILD_DATE_STR = \\\"$(date --utc --iso=seconds)\\\"\"; echo \"const BUILD_UNIX_TIME = $(date +%s)\" ) > /v-sekai-game/project/addons/vsk_version/build_constants.gd
      # mkdir -p /v-sekai-game/build/macos_release_x86_64/ && mkdir -p project/.godot/editor && mkdir -p project/.godot/imported && chmod +x /v-sekai-game/godot/bin/linux_editor.x86_64 && XDG_DATA_HOME=.local/share/ godot/bin/macos_release_x86_64 --headless --export "Macos" build/macos_release_x86_64/${GODOT_ENGINE_GAME_NAME}macos_release_x86_64 --path project && [ -f /v-sekai-game/build/macos_release_x86_64/${GODOT_ENGINE_GAME_NAME}macos ]

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: "vsekai_macos_release_x86_64.app"
          path: godot/vsekai_macos_release_x86_64.app
          retention-days: 14

      - name: v-sekai-macos-arm64
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: true
          files: |
            LICENSE
            README.md
            godot/vsekai_macos_release_x86_64.app

  build-ios:
    runs-on: macos-12
    steps:
      - name: Install VulkanSDK
        run: |
          IFS=$'\n\t'
          # Download and install the Vulkan SDK.
          curl -L "https://sdk.lunarg.com/sdk/download/latest/mac/vulkan-sdk.dmg" -o /tmp/vulkan-sdk.dmg
          hdiutil attach /tmp/vulkan-sdk.dmg -mountpoint /Volumes/vulkan-sdk
          /Volumes/vulkan-sdk/InstallVulkan.app/Contents/MacOS/InstallVulkan \
              --accept-licenses --default-answer --confirm-command install
          hdiutil detach /Volumes/vulkan-sdk
          rm -f /tmp/vulkan-sdk.dmg

      - uses: actions/checkout@v3
        with:
          path: "godot"
          repository: "v-sekai/godot"
          ref: ${{env.GODOT_BRANCH}}

      - uses: actions/checkout@v3
        with:
          path: "godot-modules-groups"
          repository: "v-sekai/godot-modules-groups"
          ref: ${{env.GODOT_MODULES_BRANCH}}
          submodules: recursive

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "project"
          submodules: recursive

      - name: Load .cicd_cache directory
        uses: actions/cache@v3
        with:
          path: godot/.cicd_cache
          key: ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}

      - run: brew install scons

      - name: Run build
        run: |
          cd godot
          SCONS_CACHE=.cicd_cache scons optimize=speed arch=arm64 werror=no platform=ios target=editor use_lto=no deprecated=no builtin_freetype=yes custom_modules=../godot-modules-groups
          cp -r misc/dist/ios_xcode vsekai_ios_xcode
          cp bin/libgodot.ios.editor.arm64.a vsekai_ios_xcode/libgodot.ios.release.xcframework/ios-arm64/libgodot.a

      # mkdir -p build/
      # rm -rf .local/share/godot/export_templates/
      # mkdir -p .local/share/godot/export_templates/
      # cd .local/share/godot/export_templates/
      # eval `sed -e "s/ = /=/" godot/version.py` && echo $major.$minor.$status > build/version.txt
      # export VERSION=`cat build/version.txt`
      # export BASE_DIR=.local/share/godot/export_templates/
      # export TEMPLATEDIR=$BASE_DIR/$VERSION/
      # mkdir -p $TEMPLATEDIR
      # cp godot/bin/macos_release_x86_64 $TEMPLATEDIR/macos_release_x86_64
      # cp godot/bin/macos_debug_x86_64 $TEMPLATEDIR/macos_debug_x86_64
      # cp build/version.txt $TEMPLATEDIR/version.txt
      # if [[ -z "${REPO_NAME}" ]]; then
      #   export GODOT_ENGINE_GAME_NAME="game_"
      # fi
      # (echo \"## AUTOGENERATED BY BUILD\"; echo \"\"; echo \"const BUILD_LABEL = \\\"$GO_PIPELINE_LABEL\\\"\"; echo \"const BUILD_DATE_STR = \\\"$(date --utc --iso=seconds)\\\"\"; echo \"const BUILD_UNIX_TIME = $(date +%s)\" ) > /v-sekai-game/project/addons/vsk_version/build_constants.gd
      # mkdir -p /v-sekai-game/build/macos_release_x86_64/ && mkdir -p project/.godot/editor && mkdir -p project/.godot/imported && chmod +x /v-sekai-game/godot/bin/linux_editor.x86_64 && XDG_DATA_HOME=.local/share/ godot/bin/macos_release_x86_64 --headless --export "Macos" build/macos_release_x86_64/${GODOT_ENGINE_GAME_NAME}macos_release_x86_64 --path project && [ -f /v-sekai-game/build/macos_release_x86_64/${GODOT_ENGINE_GAME_NAME}macos ]

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: "vsekai_ios_xcode"
          path: godot/vsekai_ios_xcode
          retention-days: 14

      - name: v-sekai-iphone-arm64
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: true
          files: |
            LICENSE
            README.md
            godot/vsekai_ios_xcode

  build-linux-windows:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Load .cicd_cache directory
        uses: actions/cache@v3
        with:
          path: build/.cicd_cache
          key: ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}

      - name: "Install Dagger"
        run: |
          curl -L https://dl.dagger.io/dagger-cue/install.sh | sh

      - name: "Run Dagger"
        run: |
          cd .github/dagger
          ../../bin/dagger-cue project init
          ../../bin/dagger-cue project update
          ../../bin/dagger-cue do build
      
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: editor_windows_release_x86_64
          path: build/windows_release_x86_64.exe
          retention-days: 14

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: "vsekai_windows_release_x86_64"
          path: build/windows_release_x86_64
          retention-days: 14

      - name: v-sekai-windows-x86_64
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: true
          files: |
            LICENSE
            README.md
            build/windows_release_x86_64

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: vsekai_linux_release_x86_64
          path: build/linux_release_x86_64
          retention-days: 14

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: editor_linux_release_x86_64
          path: build/linux_release.x86_64
          retention-days: 14

      - name: v-sekai-linux-x86_64
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: true
          files: |
            LICENSE
            README.md
            build/linux_release_x86_64