# MIT License

# Copyright (c) 2022 K. S. Ernest (iFire) Lee

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

name: "Dagger Export Windows and Linux 86_64"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REPO_NAME: ${{ github.event.repository.name }}
  VSEKAI_BASE_BRANCH: main
  CACHE_NAME: ${{github.job}}
  SCONS_CACHE: ${{github.workspace}}/build/.scons_cache/

concurrency:
  group: ci-dagger-${{github.actor}}-${{github.head_ref || github.run_number}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Load .scons_cache directory
        uses: actions/cache@v3
        with:
          path: ${{env.SCONS_CACHE}}
          key: ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
          restore-keys: |
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}-${{github.sha}}
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}-${{github.ref}}
            ${{env.CACHE_NAME}}-${{env.VSEKAI_BASE_BRANCH}}

      - name: "Run Dagger"
        uses: dagger/dagger-for-github@v3
        with:
          workdir: ".github/dagger"
          cmds: |
             project init
             project update
             do --cache-from type=gha --cache-to type=gha build

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: "vsekai_linux_release_x86_64"
          path: build/linux_release_x86_64 
          retention-days: 14
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: "vsekai_windows_release_x86_64"
          path: build/windows_release_x86_64
          retention-days: 14

      - name: v-sekai-linux-x86_64
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: true
          files: |
            LICENSE
            README.md
            build/linux_release_x86_64
     
      - name: v-sekai-windows-x86_64
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: true
          files: |
            LICENSE
            README.md
            build/windows_release_x86_64